repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-build

  - repo: local
    hooks:
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        pass_filenames: false
        types: [go]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "v0.34.0"
    hooks:
      - id: markdownlint
        args: ["-f"]
        stages: [pre-commit]

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        stages: [pre-commit]
